    /*MOBILE*/
    
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Figtree", sans-serif;
    }
    body{
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .card{
        background-color: #fff;
        width: 87.2vw;
        height: auto;
        padding: 1.5rem;
        border: 1px solid #000;
        border-radius: 15px;
        box-shadow: 7px 5px 3px 3px #000;
    }
    .card-image{
        width: 74.4vw;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .card-category{
        background-color: #F4D04E;
        width: 19.467vw;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem 0.75rem;
        border-radius: 0.5rem;
    }
    .card-content{
        width: 74.4vw;
        height: 173px;
        margin: 1.5rem 0rem;
    }
    .card-category, .card-publish-date, .card-title{
        margin-bottom: 0.75rem;
    }
    .card-description p {
        font-size: 0.875rem;
        color: #6b6b6b;
        line-height: 1.3rem;
    }
    .card-title h1{
        font-size: 1.25rem;
        font-weight: 900;
    }
    .card-publish-date p {
        font-size: 0.75rem;
    }
    .card-category p {
        font-size: 0.75rem;
        font-weight: bolder;
    }
    .card-author{
        width: 34.4vw;
        height: auto;
    }
    .card-user-pic{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-user-pic img{
        width: 8.533vw;
    }
    .card-user-pic span{
        width: 22.667vw;
        height: 21px;
        font-size: 0.75rem;
        font-weight: 900;
        margin-left: 12px;
    }

    /*HOVERS*/
    .card-title h1:hover{
        color: #F4D04E;
        cursor: pointer;
    }

/*MEDIA QUERIES*/

@media (min-width: 768px){
    .card{
        width: 50vw;
        height: auto;
    }
    .card-image{
        width: 43.75vw;
        height: 200px;
    }
    .card-content{
        width: 43.75vw;
        height: 194px;
    }
    .card-category{
        width: 10.677vw;
        height: 29px;
    }
    .card-publish-date{
        width: 18.62vw;
        height: 21px;
    }
    .card-title{
        width: 43.75vw;
        height: 36px;
    }
    .card-description{
        width: 43.75vw;
        height: 72px;
    }
    .card-author{
        width: 16.797vw;
        height: auto;
    }
    .card-user-pic img{
        width: 4.167vw;
        height: 4.167vw;
    }
    .card-user-pic span{
        width: 11.068vw;
        height: 21px;
    }
}
/*DESKTOP*/
@media (min-width: 1440px){
    .card{
        width: 26.667vw;
        height: auto;
    }
    .card-image{
        width: 23.333vw;
        height: 200px;
    }
    .card-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card-content{
        width: 23.333vw;
        height: 194px;
    }
    .card-description{
        width: 23.333vw;
        height: 72px;
    }
    .card-description p{
        font-size: 1.1rem;
    }
    .card-title h1{
        font-size: 1.6rem;
    }
    .card-publish-date p{
        font-size: 0.8rem;
    }
    .card-category{
        width: 5.694vw;
        height: 29px;
    }
    .card-category p{
        font-size: 0.9rem;
    }
    .card-user-pic span{
        font-size: 0.8rem;
    }
    .card-publish-date{
        width: 9.931vw;
        height: 21px;
    }
    .card-title{
        width: 23.333vw;
        height: 36px;
    }
    .card-description{
        width: 23.333vw;
        height: 72px;
    }
    .card-author{
        width: 8.958vw;
        height: 32px;
    }
    .card-author img{
        width: 2.222vw;
        height: 2.222vw;
    }
}

